/* Welcome to Compass.
 * This is the full site styling for VarsiTea
 * This file compiles into stylesheet/screen.css */
/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Cross-Site Styling*/
/* line 14, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 18, ../sass/screen.scss */
.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* line 23, ../sass/screen.scss */
.row {
  margin: 0 -15px;
}

/* line 27, ../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 29, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* Header Styling */
/* line 35, ../sass/screen.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  border-bottom: 2px double #0099cc;
  background: #fff;
}
/* line 46, ../sass/screen.scss */
header #site-logo {
  float: left;
  display: block;
  width: 280px;
  height: 110px;
  margin: 0 0 0 30px;
  background: url("../img/vt-logo.png") no-repeat center;
}
/* line 56, ../sass/screen.scss */
header nav {
  float: right;
  padding: 30px 0 0 0;
  margin: 0 30px 0 0;
}
/* line 61, ../sass/screen.scss */
header nav #menu-icon {
  display: hidden;
}
/* line 64, ../sass/screen.scss */
header nav a {
  color: #0099cc;
}
/* line 67, ../sass/screen.scss */
header nav a:hover #menu-icon {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background-color: #444444;
}
/* line 74, ../sass/screen.scss */
header nav ul {
  padding: 14px 0 0 0;
  list-style: none;
}
/* line 78, ../sass/screen.scss */
header nav ul li {
  float: left;
  display: inline-block;
  padding: 10px 10px;
}
/* line 83, ../sass/screen.scss */
header nav ul li.current {
  color: #2262ad;
}
/* line 87, ../sass/screen.scss */
header nav ul li a:hover {
  color: #009900;
}

/* Footer Styling */
/* line 97, ../sass/screen.scss */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 30px 0;
  border-top: 1px double #009900;
  background-color: #0099cc;
}
/* line 108, ../sass/screen.scss */
footer p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
/* line 116, ../sass/screen.scss */
footer .social-media ul {
  width: 254px;
  padding: 14px 0;
  margin: 0 auto;
  list-style: none;
}
/* line 122, ../sass/screen.scss */
footer .social-media ul li {
  display: inline-block;
  margin: 0 16px 0 0;
}
/* line 125, ../sass/screen.scss */
footer .social-media ul li:last-child {
  margin-right: 0;
}
/* line 128, ../sass/screen.scss */
footer .social-media ul li a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
  background-color: #0099cc;
  color: #ffffff;
}
/* line 134, ../sass/screen.scss */
footer .social-media ul li a:hover {
  background-color: #ffffff;
  color: #009900;
}

@media only screen and (max-width: 767px) {
  /* line 145, ../sass/screen.scss */
  header {
    height: 62px;
    position: absolute;
  }
  /* line 148, ../sass/screen.scss */
  header #site-logo {
    width: 220px;
    height: 86px;
    margin: 0 0 0 10px;
    background: url("../img/vt-logo-xs.png") no-repeat center;
  }
  /* line 155, ../sass/screen.scss */
  header #menu-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #0099cc;
    -webkit-border-radius: 4px 0 4px 4px;
    -moz-border-radius: 4px 0 4px 4px;
    border-radius: 4px 0 4px 4px;
    background: #ffffff url("../img/vt-icon.png") center;
  }
  /* line 164, ../sass/screen.scss */
  header nav {
    padding: 12px 0 0 0;
    margin: 0 10px 0 0;
  }
  /* line 167, ../sass/screen.scss */
  header nav ul, header nav:active ul {
    position: absolute;
    right: 10px;
    top: 54px;
    display: none;
    width: 140px;
    padding: 0;
    border: 1px solid #0099cc;
    border-bottom: none;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    background: #ffffff;
  }
  /* line 181, ../sass/screen.scss */
  header nav ul li, header nav:active ul li {
    float: none;
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
    background-color: #0099cc;
    text-align: center;
  }
  /* line 192, ../sass/screen.scss */
  header nav ul li:hover, header nav:active ul li:hover {
    background-color: #009900;
  }
  /* line 195, ../sass/screen.scss */
  header nav ul li a, header nav:active ul li a {
    display: block;
    color: #ffffff;
  }
  /* line 199, ../sass/screen.scss */
  header nav ul li a:hover, header nav:active ul li a:hover {
    color: #ffffff;
  }
}
